<!DOCTYPE html>
<html>
<head>
    <title>Add restaurant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefp0BJY5sxA-EwvtHo6a_Pd5_3gHVBF4&libraries=places&callback=initAutocomplete" async defer></script>
    <script src="javascripts/create-restaurant.js"></script>
</head>
<body>
<div class="mainWrapper">
    <% include header.ejs %>
    <div class="crForm">
        <div class ="crBorder">
            <div class="crTitle">Create Restaurant</div>
            <div class = "error"><%= error %></div>
            <div class="crInputWrapper">
                <form id="createRestaurantForm" action="/create-restaurant" method="get" >
                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="nError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='restaurantName'>Restaurant Name:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Enter restaurant name" name="name" id="name">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="urlError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='telephone'>Restaurant Telephone Number:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Enter restaurant telephone number" name="phoneNo" id="name">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="aError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='address'>Restaurant Address:</label>
                        </div>
                        <div class="col-7">
                            <input id="autocomplete" placeholder="Enter door number and select address" onFocus="geolocate()" type="text">
                            </input>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for="doornumber">Door Number:</label>
                        </div>
                        <div class="col-7">
                            <input class="field" name="doorNumber" id="street_number" disabled="true">
                            </input>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for="streetname">Street Name:</label>
                        </div>
                        <div class="col-7">
                            <input class="field" id="route" disabled="true">
                            </input>
                        </div>
                    </div>

                    <!--<div class="row createRestaurant">-->
                    <!--<div class="col-5">-->
                    <!--<label for="city">City:</label>-->
                    <!--</div>-->
                    <!--<div class="col-7">-->
                    <!--<td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input></td>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for="postcode">Postcode:</label>
                        </div>
                        <div class="col-7">
                            <input class="field" name="postcode" id="postal_code" disabled="true">
                            </input>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="purlError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='photo'>Photo URL:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Enter restaurant photo URL" name="photo" id="photo">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="tError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='tags'>Tags:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Enter tags separated by commas e.g cosy, fun" name="tags" id="tags">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="wuError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='websiteurl'>Website URL:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Enter website URL" name="websiteurl" id="websiteurl">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="deError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-5">
                            <label for='description'>Restaurant Description:</label>
                        </div>
                        <div class="col-7">
                            <textarea rows="8" cols="44" placeholder="Enter restaurant description" name="description" id="description"></textarea>
                        </div>
                    </div>

                    <input type="submit" name="g" value="Create" id="g" class="crSubmit">
                </form>
            </div>
        </div>
        <div id="results" style="margin-top:30px"></div>
        <div class="push"></div>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
