<!DOCTYPE html>
<html>
<head>
    <title>Add restaurant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="mainWrapper">
    <% include header.ejs %>
    <div class="crForm">
        <div class ="crBorder">
            <div class="crTitle">Create Restaurant</div>
            <div class = "error"><%= error %></div>
            <div class="crInputWrapper">
                <form id="createRestaurantForm" onsubmit="createRestaurant()">
                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="nError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='restaurantName'>Restaurant Name:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter restaurant name" name="name" id="name">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="dnError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='doorNumber'>Door Number:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter restaurant door number" name="doorNumber" id="doorNumber" >
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="pcError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='postcode'>Postcode:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter restaurant postcode" name="postcode" id="postcode">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="urlError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='photo'>Photo URL:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter restaurant photo URL" name="photo" id="photo">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="tError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='tags'>Tags:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter tags separated by commas e.g fine dining, dog friendly" name="tags" id="tags">
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div id="wuError"></div>
                        </div>
                    </div>

                    <div class="row createRestaurant">
                        <div class="col-3">
                            <label for='websiteurl'>Website URL:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" placeholder="Enter website URL" name="websiteURL" id="websiteurl">
                        </div>
                    </div>
                    <input type="submit" name="g" value="Create" id="g" class="crSubmit">
                </form>
            </div>
        </div>
    </div>
    <div id="results" style="margin-top:30px"></div>
    <div class="push"></div>
</div>

<% include footer.ejs %>

</body>
</html>
