<script src="javascripts/write-review.js"></script>
<script src="javascripts/reviewajax.js"></script>

<!-- Button to open the modal login form -->
<button onclick="document.getElementById('reviewForm').style.display='block'">Write a review</button>

<!-- The Modal -->
<div id="reviewForm" class="modal">
    <span onclick="document.getElementById('reviewForm').style.display='none'" class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form id="writeReviewForm" class="modal-content animate" onsubmit="reviewValidate(event);">
        <div class="modalheader">
            <h2>Write Review for <%= restaurant.name %></h2>
        </div>

        <div class="reviewcontainer">
            <div class="row review">
                <div class="col-33">
                    <label for="rating">Rating: <span id="star"></span> out of 7 stars</label>
                </div>

                <div class="col-66">
                    <div class="slidecontainer">
                        <input type="range" min="0" max="7" value="4" class="slider" name="slider" id="slider">
                    </div>
                </div>

            </div>

            <div class="row review">

                <div class="col-100">
                    <div class="form-error" id="dError"></div>
                </div>

            </div>

            <div class="row review">
                <div class="col-33">
                    <label for="reviewdescription">Review description</label>
                </div>

                <div class="col-66">
                    <textarea class="review-text" rows="8" cols="50" placeholder="Enter review" name="review-text" id="review-text"></textarea>
                </div>

            </div>
            <button type="submit" class="new-review-submit">Submit Review</button>

            <button type="button" onclick="document.getElementById('reviewForm').style.display='none'" class="new-review-cancel">Cancel</button>
        </div>
    </form>
</div>

<script>

    var slider = document.getElementById("slider");
    var output = document.getElementById("star");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
    };
    var modal = document.getElementById('reviewForm');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>