<!DOCTYPE html>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-9">
            <p style="margin-top:10px;"> © 2018 Copyright by Dine Hard. All Rights Reserved. Designed by Fab.io </p>
        </div>
        <div class="col-3 social">
            <a href="https://www.facebook.com/DineHardOfficial/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/Dine_Hard" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/Dine.Hard.Official/" target="_blank" class="fa fa-instagram"></a>
        </div>
    </div>
</div>
