<!DOCTYPE html>
<div class="footer">
    <div class="container-fluid row">

        <div class="footer-copyright xxs-font">
            <p> © 2018 Copyright by Dine Hard. All Rights Reserved. Designed by Fab.io. <a href="/accessibility">Accessibility Page</a></p>
        </div>

        <div class="footer-social">
            <a href="https://www.instagram.com/Dine.Hard.Official/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://twitter.com/Dine_Hard" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.facebook.com/DineHardOfficial/" target="_blank" class="fa fa-facebook"></a>
        </div>

    </div>
</div>
