<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/toplinks.js"></script>
</head>
<header>
    <div class="container-fluid header">
        <div class="logo-wrapper">
            <a href="/">
                <img src="images/Dine Hard Full.png" alt="Dine Hard" class="header-logo">
            </a>
        </div>

        <ul class="inline-list top-links m-font">
            <% if (!loggedIn) {%>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <%}else{%>
                <li><a href="/profile">View Profile</a></li>
                <li><a href="/create-restaurant">Add New Restaurant</a></li>
                <li><a href="/logout" onclick="alert('Logout Successful!');">Logout</a></li>
            <%}%>

        </ul>
        <script></script>
    </div>
</header>
</html>
