<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/toplinks.js"></script>
</head>

<header class="headerMenu">
    <div class="container-fluid header">
        <div class="logo-wrapper">
            <a href="/">
                <img src="images/Dine Hard Full.png" alt="Dine Hard" class="header-logo">
            </a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <% if (!loggedIn) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% }else{ %>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/create-restaurant">Add New Restaurant</a></li>
            <li><a href="/logout" onclick="alert('Logout Successful!');">Logout</a></li>
            <% } %>
        </ul>
    </div>
</header>


</html>
