<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/toplinks.js"></script>
</head>
<body>
<div class="container-fluid header">
    <div id="msg"><a href="/">
            <img src="images/Dine Hard Full.png" alt="Dine Hard" style="height:35px;border:0;">
        </a>
    </div>
    <ul class="inlineList" id="top-links">

    </ul>
    <script>isLoggedIn();</script>
</div>
</body>
</html>
