<!DOCTYPE html>
<div class="container-fluid header">
    <div id="msg"><a href="/">
            <img src="images/Dine Hard Full.png" alt="Dine Hard" style="height:35px;border:0;">
        </a></div>
    <ul class="inlineList" id="top-links">
        <% if (!loggedIn) {%>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } else { %>
        <li><a href="/profile">View Profile</a></li>
        <% } %>
    </ul>
</div>
