<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid header">
    <div id="msg">DINE HARD</div>
    <ul class="inlineList" id="top-links">
        <% if (!loggedIn) {%>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Register</a></li>
        <% } else { %>
            <li><a href="/profile">View Profile</a></li>
        <% } %>
    </ul>
</div>

<div id="top">
  <div class="container-fluid">
    <div class="titleHeader">
      <p class="mainTitle">Experience the magic of Dine Hard</p>
      <p class="mainSubtitle">The food, the bad and the ugly</p>
    </div>
  </div>
  <div class="container-fluid softHighlight">
    <div class="row">
      <p class="searchTitle">Enter your postcode to find local restuarants</p>
    </div>
      <div class="search" style="margin-top:1vh">
        <form id="titleSearch" onsubmit="">
          <input type="text" class="titleSearch" placeholder="Enter postcode">
          <input type="submit" class="titleSubmit" value="Search">
        </form>
      </div>
    </div>
  </div>

<div style="box-shadow: 0 0 10px #d61f26; margin-top: 10px;" id="241">

<div class="container-fluid alert"><span class="glyphicon glyphicon-time"></span> The website and server are currently under construction. Please be patient with any delays and errors.</div>

</div>

<div class="container-fluid" style="margin-top:3vh">
    <div class="row">
        <div class="col-4 indexFeat">
            <p><span class="glyphicon glyphicon-heart featIcon" style="color:darkred"></span></p>
            <p>Find your favourite local restaurants and bars</p>
        </div>
        <div class="col-4 indexFeat">
            <p><span class="glyphicon glyphicon-search featIcon" style="color:darkgreen"></span></p>
            <p>Sort results by relevance, price and location</p>
        </div>
        <div class="col-4 indexFeat">
            <p><span class="glyphicon glyphicon-star featIcon" style="color:orangered"></span></p>
            <p>Write and view reviews from other users</p>
        </div>

    </div>
</div>

<div class="container-fluid footer">
  © 2018 Copyright by Dine Hard. All Rights Reserved. Designed by Fab.io
</div>
</body>
</html>