<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="javascripts/location.js"></script>
  <script src="javascripts/load.js"></script>
  <script src="javascripts/search.js"></script>
</head>
<body onload="load();hiddenFields();">

<% include header.ejs %>

<div id="top">
  <div class="container-fluid">
    <div class="titleHeader">
      <p class="mainTitle">Experience the magic of Dine Hard</p>
      <p class="mainSubtitle">The food, the bad and the ugly</p>
    </div>
  </div>
  <div class="container-fluid softHighlight">
    <div class="row">
      <p class="searchTitle">Enter your postcode to find local restaurants</p>
    </div>
      <div class="search" style="margin-top:1vh">
          <form id="searchForm" action="/results" method="get">
              <input type="text" class="titleSearch" placeholder="Enter postcode or keyword(s)" name="q" id="q">
              <input type="text"  class="latField" hidden="true" name="lat" id="lat">
              <input type="text" class="lngField" hidden="true" name="lng" id="lng">
              <input type="submit" class="titleSubmit" name="g" value="Search" id="g">
          </form>
      </div>

    <div style="box-shadow: 0 0 10px #d61f26; margin-top: 10px;" id="241">

    <div class="container-fluid alert"><span class="glyphicon glyphicon-time"></span> The website and server are currently under construction. Please be patient with any delays and errors.</div>

    </div>

    <div class="container-fluid" style="margin-top:3vh">
        <div class="row">
            <div class="col-4 indexFeat">
                <p><span class="glyphicon glyphicon-heart featIcon" style="color:darkred"></span></p>
                <p>Find your favourite local restaurants and bars</p>
            </div>
            <div class="col-4 indexFeat">
                <p><span class="glyphicon glyphicon-search featIcon" style="color:darkgreen"></span></p>
                <p>Sort results by relevance, price and location</p>
            </div>
            <div class="col-4 indexFeat">
                <p><span class="glyphicon glyphicon-star featIcon" style="color:orangered"></span></p>
                <p>Write and view reviews from other users</p>
            </div>

        </div>
    </div>
    <div class="push"></div>
</div>
<% include footer.ejs %>
</body>
</html>
