<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/load.js"></script>
    <script src="javascripts/search.js"></script>
    <script src="javascripts/register.js"></script>
</head>
<body>
<% include header.ejs %>

<div class="rForm">
    <form id="registerForm" onsubmit="register()">
        <div class="row">
            <div class="col-25">
                <label for='forename'>Forename:</label>
            </div>
            <div class="col-75">
                <input type="'text" placeholder="Enter forename" name="forename" id="forename">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for='surname'>Surname:</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Enter surname" name="surname" id="surname" >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for='email'>Email address:</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Enter email" name="email" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for='username'>Username:</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Enter username" name="username" id="username">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for='password'>Password:</label>
            </div>
            <div class="col-75">
                <input type="password" placeholder="Enter password" name="password" id="password">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for='username'>Confirm password:</label>
            </div>
            <div class="col-75">
                <input type="password" placeholder="Enter password" name="passwordconfirm" id="passwordconfirm">
            </div>
        </div>
        <p>By registering you agree to our <a href="tandc" style="color:#6a97ff">Terms and Conditions</a>.</p>
        <input type="submit" name="g" value="Register" id="g">
    </form>
</div>
<div id="results" style="margin-top:30px"></div>
</body>
<% include footer.ejs %>
</html>
