project/.idea/*
project/.idea/jsLibraryMapping.xml
project/.idea/misc.xml
project/.idea/modules.xml
project/.idea/workspace.xml
project/.idea/runConfigurations/*
project/.idea/runConfigurations/bin_www.xml


project/project.iml

# exclude everything
project/node_modules/*

# exception to the rule
!project/node_modules/.gitkeep
!project/.idea/.gitkeep 




*.iml

project/project.iml
