:root{
  /*--bg-color: #E5FCC2;
  --bg2-color: #9DE0AD;
  --nav-color: #45ADA8;
  --text2-color: #547980;
  --text-color: #594F4F;
  --font: "Helvetica";*/
  --bg-color: #FFF7F7;
  --bg2-color: #D61F26;
  --Y-color: #774C60;
  --text-color: #000000;
  --title-color: #FFFFFF;
  --alert-color: #FF0008;
  --shadow-color: #000000;
  --font: "Trebuchet MS";
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  background: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg-color);
}


a{
  color: var(--title-color);
}

a:hover {
    color: var(--title-color); !important;
    text-decoration: none; !important;
    opacity: 0.7;
}

#top {
  height: 100%;
  width: 100%;
  background-color: var(--bg2-color);
  background-image: url("../images/titleImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
  -moz-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
  box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
}

.titleHeader {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 80%;
  z-index: 200;
}

.header {
  /*position: fixed;*/
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--bg2-color);
  text-align: left;
  margin: 0;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2-color);
  color: white;
  text-align: left;
  font-size: 16px;
    vertical-align: middle;
}

.mainTitle {
  color: var(--title-color);
  font-size: 62px;
  font-family: var(--font);
  text-align: center;
  margin-top: 10vw;
  text-shadow: 2px 2px var(--shadow-color);
}

.mainSubtitle{
  color: var(--title-color);
  font-size: 24px;
  text-align: center;
  font-family: var(--font);
  margin-top: 2vw;
  margin-bottom: 10vw;
  text-shadow: 2px 2px var(--shadow-color);
}

.searchTitle{
  color: var(--title-color);
  font-size: 18px;
  text-align: center;
  font-family: var(--font);
  margin: 0 auto;
}

.titleSearch{
  //float: left;
  margin: 3px 0px 3px 10px;
  width: 45vw;
  height: 5vw;
  max-height: 40px;
  max-width: 650px;
  font-size: 20px;
  border: none;
  border-color: transparent;
}

.titleSubmit{
  float: right;
  background-color: var(--bg2-color);
  height: 5vw;
  width: 10vw;
  margin: 3px 10px 3px 0px;
  max-height: 40px;
  max-width: 80px;
  color: var(--title-color);
  font-size: 16px;
  font-family: var(--font);
  padding: 0;
  border: none;
}

#msg {
  float: left;
  margin: 10px 0px 10px 0px;
  color: var(--title-color);
  font-family: var(--font);
  font-size: 16px;
}

#top-links {
  color: var(--title-color);
  font-family: var(--font);
  font-size: 16px;
  float: right;
  margin: 15px 30px 15px 0px;
}

.inlineList li {
  display:inline;
}

.inlineList li + li:before {
  content: " | ";
}

.search{
  background: #ffffff;
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
  margin-bottom: 15px;
}

.softHighlight{
  background: rgba(20,20,20,0.65);
}

.alert{
  background: var(--alert-color);
  color: var(--title-color);
  text-align: center;
  width: 100%;
  margin-top: 0px;
  border-radius: 0px;
  font-size: 14px;
}

.restInfo{
  margin: 10px 15px 10px 0px;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font);
}

.title{
  font-size: 30px;
}

.text
{
  margin:auto;
  width: 85%;
}

.indexFeat{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
 }

.featIcon{
    font-size: 50px;
}

.slideshowImg{
  height: 50vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
  background: #000000;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
#prev, #next {
  color: var(--title-color);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
  color: var(--bg2-color);
}

.results {
  margin: 30px 0px 12px 0px;
  overflow: hidden;
  position: relative;
  height: 15vh;
    min-height: 90px;
    font-size: 14px;
    color: var(--text-color) !important;
}

.results a{
    color: var(--text-color) !important;
}

.restName{
    font-size: 18px;
}

results p{
    margin: 0px;
}

.resultsSearch {
    margin: 30px 0px 12px 0px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    color: var(--text-color) !important;
}

.thumbnail{
    margin: 0 auto;
    height: 13vh;
    width: 13vh;
    min-height: 90px;
    min-width: 90px;
}

.reviews {
    margin: 15px 0px 5px 0px;
    overflow: hidden;
    position: relative;
    height: 10vh;
    min-height: 90px;
    font-size: 14px;
    color: var(--text-color) !important;
}

.reviewThumbnail{
    margin: 0 auto;
    height: 9vh;
    width: 9vh;
    min-height: 50px;
    min-width: 50px;
}

#errorTitle{
  font-size: 24px;
}

.noMargin{
    margin: 0 auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--bg2-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--bg2-color);
    cursor: pointer;
}

.social a{
    margin: 5px 5px 5px 5px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    width: 33px;
}

/* Add a hover effect if you want */
.fa:hover {
    color: black;
    opacity: 1; !important;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #24f2ff;
    color: white;
}


.rForm, .lForm {
    display: inline-block;
    margin: 5% 0% 0% 35%;
}

.col-25 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.h1 {
    display: inline-block;
}