:root {
    --bg-color: #FFF7F7;
    --bg2-color: #D61F26;
    --Y-color: #774C60;
    --text-color: #000000;
    --title-color: #FFFFFF;
    --alert-color: #FF0008;
    --shadow-color: #000000;
    --searchbg-color: #FB787F;
    --slider-color: #D61F26;
    --font: "Trebuchet MS";
}

/* ------------ TAG CSS ------------ */

html, body {
    height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    -webkit-font-smoothing: antialiased;
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    background: var(--bg-color);
}

a {
    color: var(--title-color);
}

a:hover {
    color: var(--title-color);
!important;
    text-decoration: none;
!important;
    opacity: 0.7;
}

/* ------------ GENERAL CSS ------------ */

.main-wrapper {
    min-height: 100%;
    margin-bottom: -45px;
}

.mWrapper {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12pt;
}

.push {
    height: 45px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.align-right {
    text-align: right;
}

.no-wrap {
    white-space: nowrap;
}

#errorTitle {
    font-size: 24px;
}

.noMargin {
    margin: 0 auto;
}

.inline-list {
    padding: 0px;
}

.inline-list li {
    display: inline;
}

.inline-list li + li:before {
    content: " | ";
}

.resLink a, .userLink a, .blackLink a {
    color: black;
!important;
    font-weight: bold;
}

[class*='row'] {
    margin: 0px;
    padding: 2px 0px 3px 0px;
}

[class*='col-'] {
    display: inline;
    width: 100%;
    padding: 0px;
}

@media (min-width: 768px) {
    .col-10{
        width: 10%;
    }

    .col-20{
        width: 20%;
    }

    .col-25{
        width: 25%;
    }

    .col-30{
        width: 30%;
    }

    .col-33{
        width: 33%;
    }

    .col-40{
        width: 40%;
    }

    .col-45{
        width: 45%;
    }

    .col-50{
        width: 50%;
    }

    .col-55{
        width: 55%;
    }

    .col-60{
        width: 60%;
    }

    .col-66{
        width: 66%;
    }

    .col-70{
        width: 70%;
    }

    .col-75{
        width: 75%;
    }

    .col-80{
        width: 80%;
    }

    .col-90{
        width: 90%;
    }

    .col-100{
        width: 100%;
    }
}

/* ------------ FONT CSS ------------ */

.xxs-font {
    font-size: 10px;
}

.xs-font {
    font-size: 12px;
}

.s-font {
    font-size: 14px;
}

.m-font {
    font-size: 16px;
}

.l-font {
    font-size: 18px;
}

.xl-font {
    font-size: 20px;
}

.xxl-font {
    font-size: 22px;
}

.restaurant-title-font{
    font-size: 28px;
}

.feat-icon-font {
    font-size: 35px;
}

.title-font {
    font-size: 44px;
}

@media (min-width: 768px) {
    .xxs-font {
        font-size: 12px;
    }

    .xs-font {
        font-size: 14px;
    }

    .s-font {
        font-size: 16px;
    }

    .m-font {
        font-size: 18px;
    }

    .l-font {
        font-size: 20px;
    }

    .xl-font {
        font-size: 22px;
    }

    .xxl-font {
        font-size: 24px;
    }

    .restaurant-title-font{
        font-size: 34px;
    }

    .feat-icon-font {
        font-size: 55px;
    }

    .title-font {
        font-size: 66px;
    }
}
/* ------------ HEADER CSS ------------ */

.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin: 0;
    background-color: var(--bg2-color);
    text-align: left;
}

.logo-wrapper {
    float: left;
    padding: 10px 0px 5px 0px;
}

.header-logo {
    height: 33px;
    width: auto;
    border: 0;
}

.headerMenu {
    background-color: var(--bg2-color);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    font-size: 16px;
}

.headerMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:  var(--bg2-color);
}

.headerMenu li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}

.headerMenu li a:hover {
    background-color: #9a1d21;
}

.headerMenu .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.headerMenu .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px 20px 20px;
    position: relative;
    user-select: none;
}

.headerMenu .menu-icon .navicon {
    background: #FFFFFF;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.headerMenu .menu-icon .navicon:before,
.headerMenu .menu-icon .navicon:after {
    background: #FFFFFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.headerMenu .menu-icon .navicon:before {
    top: 5px;
}

.headerMenu .menu-icon .navicon:after {
    top: -5px;
}

.headerMenu .menu-btn {
    display: none;
}

.headerMenu .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.headerMenu .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.headerMenu .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.headerMenu .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.headerMenu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.headerMenu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 768px) {
    .headerMenu li {
        float: left;
    }
    .headerMenu li a {
        padding: 15px 30px;
    }
    .headerMenu .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .headerMenu .menu-icon {
        display: none;
    }
}

/* ------------ FOOTER CSS ------------ */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 45px;
    width: 100%;
    background-color: var(--bg2-color);
    vertical-align: middle;
}

.footer-copyright {
    width: 55%;
    margin: 5px 2% 0px 2%;
    padding: 5px 0px;
    vertical-align: middle;
    color: white;
}

.footer-social {
    float: right;
    width: 35%;
    margin-left: 3%;
}

.footer-social a {
    float: right;
    height: 33px;
    width: 33px;
    margin: 5px 3% 0px 3%;
    padding: 8px;
    border-radius: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: black;
    opacity: 1;
!important;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #24f2ff;
    color: white;
}

@media (min-width: 768px) {
    .footer-copyright {
        width: 70%;
    }

    .footer-social {
        width: 20%;
    }
}

/* ------------ INDEX PAGE CSS ------------ */

.index-top-wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    -moz-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    background-image: url("../images/titleImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-header {
    position: relative;
    z-index: 200;
    width: 80%;
    margin: 0 auto;
}

.index-title {
    padding-top: 10vw;
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 2px var(--shadow-color);
    font-family: var(--font);
}

.index-subtitle {
    margin-top: 2vw;
    margin-bottom: 10vw;
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 2px var(--shadow-color);
    font-family: var(--font);
}

.soft-highlight {
    padding: 5px 0px 10px 0px;
    background: rgba(20, 20, 20, 0.65);
}

.index-search-title {
    margin: 0 auto;
    color: var(--title-color);
    text-align: center;
    font-family: var(--font);
}

.index-search {
    width: 90%;
    margin: 0px 5% 0px 5%;
    background: #ffffff;
}

.index-search-text {
    height: 30px;
    width: 75%;
    max-width: 650px;
    margin: 3px 0px 3px 10px;
    border: none;
}

.index-search-submit {
    float: right;
    height: 30px;
    width: 18%;
    max-width: 80px;
    margin: 3px 10px 3px 0px;
    padding: 0;
    border: none;
    background-color: var(--bg2-color);
    color: var(--title-color);
    font-family: var(--font);
}

.index-feat-wrapper {
    margin-top: 3vh
}

.index-feat {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.alert {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    background: var(--alert-color);
    color: var(--title-color);
    text-align: center;
    font-size: 12px;
}

@media (min-width: 768px) {
    .index-search {
        width: 70%;
        margin: 0px 15% 0px 15%;
        background: #ffffff;
    }

    .index-search-text {
        height: 40px;
    }

    .index-search-submit {
        height: 40px;
    }
}

/* ------------ FORM CSS ------------ */

.user-form {
    display: inline-block;
    width: 90%;
    margin: 8% 5% 0% 5%;
}

.user-border {
    padding: 5px 15px 15px 15px;
    border-radius: 25px;
    background: var(--bg2-color);
}

.user-title{
    padding: 15px 5px 10px 5px;
    color: white;
    font-size: 22px;
}

.user-input-wrapper, .reviewcontainer {
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    border-radius: 5px;
    background: white;
}

.login, .register {
    width: 95%;
    margin: 0% 0% 0% 5%;
}

.login input, .register input, .create-restaurant input, .review input {
    width: 90%;
    margin: 5px 7% 5px 3%;
}

.login label, .register label, .create-restaurant label, .review label {
    margin: 5px 5px 5px 0px;
}

.user-submit, .create-restaurant-submit {
    height: 30px;
    width: 20%;
    min-width: 70px;
    margin: 10px 40% 10px 40%;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: var(--bg2-color);
    color: white;
}

.error {
    width: 100%;
    background: rgba(150, 0, 37, 0.35);
    color: black;
    text-align: center;
    font-size: 14px;
}

.form-error {
    width: 100%;
    color: var(--bg2-color);
    text-align: center;
}

@media (min-width: 768px) {
    .user-form {
        width: 60%;
        margin: 8% 20% 0% 20%;
    }
}

/* ------------ PROFILE CSS ------------ */

.profile {
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    border-radius: 5px;
    background: white;
}

.profile-details, .edit-profile-details, .profile-review-wrapper {
    padding: 5px 5px 5px 5px;
}

.profile-edit {
    width: 60%;
    margin: 5px 20% 5px 20%;
    border: none;
    border-radius: 5px;
    background-color: var(--bg2-color);
    color: white;
}

.edit-profile input{
    width: 95%;
}

.edit-save {
    height: 30px;
    width: 30%;
    min-width: 70px;
    margin: 10px 35% 0px 35%;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: var(--bg2-color);
    color: white;
}

.profile-review {
    margin: 5px 0px 5px 0px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background: rgba(214, 31, 38, 0.15);
}

/* ------------ RESULTS CSS ------------ */

.results-wrapper {
    height: 100%;
    padding: 0px auto;
}

.results-search {
    position: sticky;
    display: block;
    z-index: 20;
    top: 0;
    left: 0;
    height: 20%;
    margin: 0px 0px -45px 0px;
    padding: 15px 15px 10px 15px;
    background-color: var(--searchbg-color);
    color: black !important;
    overflow-x: hidden;
}

.results-search-text {
    width: 70%;
    margin: 10px 0px 0px 3%;
}

.results-submit {
    float: right;
    width: 20%;
    margin: 10px 3% 0px 0px;
}

.results-search-area {
    margin: 8px 3% 0px 3%;
}

.results-distance {
    margin: 0px 3% 10px 3%;
}

.results-sort {
    margin: 5px 3% 10px 3%;
}

.results-list-wrapper {
    display: block;
    padding: 45px 0px 0px 0px;
}

.results {
    position: relative;
    z-index: 0;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: var(--text-color) !important;
    overflow: hidden;
}

.results:hover {
    background-color: rgba(24, 255, 0, 0.15);
}

.results-info {
    position: relative;
    display: inline-block;
    height: auto;
    min-height: 100px;
    width: 100%;
    margin-left: 100px;
}

.result-title {
    font-weight: bold;
}

.result-distance {
    font-style: italic;
}

.result-thumbnail {
    position: absolute;
    float: left;
    height: 100px;
    width: 100px;
}

.thumbnail {
    height: 90px;
    width: 90px;
    margin: 0px;
}

@media (min-width: 768px) {
    .results-search {
        z-index: 0;
        height: 95vh;
        margin-bottom: -45px;
    }

    .results-info {
        min-height: 140px;
        width: 85%;
        margin-left: 160px;
    }

    .result-thumbnail {
        height: 140px;
        width: 140px;
    }

    .thumbnail {
        height: 130px;
        width: 130px;
    }
}

/* ------------ SLIDER CSS ------------ */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    height: 15px;
    width: 100%;
    border-radius: 5px;
    background: #d3d3d3;
    -webkit-transition: .2s;
    -webkit-appearance: none;
    opacity: 1;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 40%;
    -webkit-appearance: none;
    background: var(--slider-color);
    appearance: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 40%;
    background: var(--slider-color);
    cursor: pointer;
}

/* ------------ RESTAURANT CSS ------------ */

.restaurant-info {
    margin: 10px 20px 10px 20px;
    color: var(--text-color);
    font-family: var(--font);
}

.restaurant-description {
    margin: 10px 2% 10px 2%;
}

.restaurant-map {
    float: right;
    height: 200px;
    margin: 20px 0px;
    padding: 10px;
}

@media (min-width: 768px) {
    .restaurant-map {
        height: 400px;
    }
}

/* ------------ SLIDESHOW CSS ------------ */

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    margin: 15px 0px 15px 0px;
    background: #000000;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slideshow-img {
    display: block;
    height: 35vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Next & previous buttons */
#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    color: var(--title-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    cursor: pointer;
}

/* Position the "next button" to the right */
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: var(--bg2-color);
}

@media (min-width: 768px) {
    .slideshow-img {
        height: 45vh;
    }
}

/* ------------ NEW RESTAURANT CSS ------------ */

/* The container */
.cuisines {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.cuisines input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cuisines:hover input ~ .checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.cuisines input:checked ~ .checkmark {
    background-color: red;
}

/*!* Create the checkmark/indicator (hidden when not checked) *!*/
/*.checkmark:after {*/
/*content: "";*/
/*position: absolute;*/
/*display: none;*/
/*}*/

/* Show the checkmark when checked */
.cuisines input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cuisines .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.create-restauarant-input{
    margin: 5px 7% 5px 3%;
}

.create-restaurant-text-area {
    width: 100%;
}


/* ------------ REVIEWS CSS ------------ */

.reviews {
    position: relative;
    min-height: 80px;
    margin: 15px 0px 5px 0px;
    color: var(--text-color) !important;
    overflow: hidden;
}

.review-thumbnail-wrapper {
    height: 70px;
    width: 70px;
    margin-top: 5px;
}

.review-thumbnail {
    height: 60px;
    width: 60px;
    padding: 0px;
    border-radius: 5px;
}

.review-wrapper {
    display: inline;
    width: 70%;
}

.review-header {
    width: 50%;
}

.review-date {
    width: 50%;
    padding-left: 15px;
}

/* ------------ CREATE REVIEW CSS ------------ */

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    width: 70%; /* Could be more or less, depending on screen size */
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    background-color: #fefefe;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    top: 0;
    right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modalheader {
    padding: 2px 16px;
    background-color: var(--bg2-color);
    color: white;
    font-size: 22px;
}

.new-review-submit {
    float: left;
    width: 40%;
    margin: 10px 5% 0px 0px;
}

.new-review-cancel {
    float: right;
    width: 25%;
    margin: 10px 0px 0px 3%;
}

.new-review-submit, .new-review-cancel {
    height: 30px;
    border: none;
    border-radius: 5px;
    background: var(--bg2-color);
    color: white;
}

.review-text {
    width: 100%;
}

/* ------------ OTHER CSS ------------ */
