:root {
    --bg-color: #FFF7F7;
    --bg2-color: #D61F26;
    --Y-color: #774C60;
    --text-color: #000000;
    --title-color: #FFFFFF;
    --alert-color: #FF0008;
    --shadow-color: #000000;
    --slider-color: #ED168A;
    --font: "Trebuchet MS";
}

html, body {
    height: 100%;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    -webkit-font-smoothing: antialiased;
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    background: var(--bg-color);
}

a {
    color: var(--title-color);
}

a:hover {
    color: var(--title-color);
!important;
    text-decoration: none;
!important;
    opacity: 0.7;
}

.mainWrapper {
    min-height: 100%;
    margin-bottom: -45px;
}

.push {
    height: 45px;
}

.mWrapper {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12pt;
}

.algnLeft {
    text-align: left;
}

.algnRight {
    text-align: right;
}

/* ------------ HEADER CSS ------------ */

.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin: 0;
    background-color: var(--bg2-color);
    text-align: left;
}

.logo-wrapper {
    float: left;
    padding: 10px 0px 5px 0px;
}

.header-logo {
    height: 30px;
    width: auto;
    border: 0;
}

.top-links {
    float: right;
    margin: 15px 15px 10px 0px;
    color: var(--title-color);
    font-family: var(--font);
    font-size: 16px;
}

.inlineList li {
    display: inline;
}

.inlineList li + li:before {
    content: " | ";
}

/* ------------ FOOTER CSS ------------ */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 45px;
    width: 100%;
    background-color: var(--bg2-color);
    vertical-align: middle;
}

.footer-copyright {
    width: 55%;
    margin: 5px 15px 0px 20px;
    color: white;
    font-size: 11px;
}

.footer-social{
    float: right;
    width: 35%;
    margin-left: 5px;
}

.footer-social a {
    height: 33px;
    width: 33px;
    margin: 5px 2% 0px 2%;
    padding: 8px;
    border-radius: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: black;
    opacity: 1;
!important;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #24f2ff;
    color: white;
}

/* ------------ INDEX PAGE CSS ------------ */

.index-top-wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    -moz-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
    background-image: url("../images/titleImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-header {
    position: relative;
    z-index: 200;
    width: 80%;
    margin: 0 auto;
}

.index-title {
    padding-top: 10vw;
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 2px var(--shadow-color);
    font-size: 44px;
    font-family: var(--font);
}

.index-subtitle {
    margin-top: 2vw;
    margin-bottom: 10vw;
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 2px var(--shadow-color);
    font-size: 18px;
    font-family: var(--font);
}

.soft-highlight {
    padding: 5px 0px 10px 0px;
    background: rgba(20, 20, 20, 0.65);
}

.index-search-title {
    margin: 0 auto;
    color: var(--title-color);
    text-align: center;
    font-size: 12px;
    font-family: var(--font);
}

.index-search {
    width: 90%;
    max-width: 800px;
    margin: 0px 5% 0px 5%;
    background: #ffffff;
}

.index-search-text {
    height: 30px;
    width: 75%;
    max-width: 650px;
    margin: 3px 0px 3px 10px;
    border: none;
    font-size: 13px;
}

.index-search-submit {
    float: right;
    height: 30px;
    width: 18%;
    max-width: 80px;
    margin: 3px 10px 3px 0px;
    padding: 0;
    border: none;
    background-color: var(--bg2-color);
    color: var(--title-color);
    font-size: 12px;
    font-family: var(--font);
}

.index-feat-wrapper {
    margin-top: 3vh
}

.index-feat {
    width: 90%;
    margin: 10px 10px 20px 10px;
    text-align: center;
    font-size: 21px;
}

.feat-icon {
    font-size: 35px;
}

.alert {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    background: var(--alert-color);
    color: var(--title-color);
    text-align: center;
    font-size: 12px;
}

/* ------------ FORM CSS ------------ */

.user-form, .crForm {
    display: inline-block;
    width: 90%;
    margin: 8% 5% 0% 5%;
}

.user-border, .crBorder, .pBorder {
    padding: 5px 15px 15px 15px;
    border-radius: 25px;
    background: var(--bg2-color);
}

.user-title, .crTitle, .pTitle {
    padding: 15px 5px 10px 5px;
    color: white;
    font-size: 22px;
}

.user-input-wrapper, .crInputWrapper, .reviewcontainer {
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    border-radius: 5px;
    background: white;
    font-size: 12px;
}

.login{
    width: 90%;
    margin: 0% 5% 0% 5%;
}

.register {
    width: 95%;
    margin: 0% 0% 0% 5%;
}

.login input, .register input, .createRestaurant input, .review input {
    width: 90%;
    margin: 5px 7% 5px 3%;
}

.login label, .register label, .createRestaurant label, .review label {
    margin: 5px 5px 5px 0px;
}

.login [class*='col-'], .register [class*='col-']{
    padding: 0px;
}

.l-submit, .rSubmit, .crSubmit {
    width: 20%;
    min-width: 70px;
    margin: 10px 40% 10px 40%;
    text-align: center;
}

.error {
    width: 100%;
    background: rgba(150, 0, 37, 0.35);
    color: black;
    text-align: center;
    font-size: 14px;
}

.form-error {
    width: 100%;
    color: var(--bg2-color);
    text-align: center;
}

/* ------------ PROFILE CSS ------------ */

.profile {
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    border-radius: 5px;
    background: white;
    font-size: 14px;
}

.profile-details{
    width: 100%;
    padding: 5px 0px 5px 15px;
}

.profile-edit{
    width: 60%;
    margin: 5px 20% 5px 20%;
    border: none;
    border-radius: 5px;
    background-color: var(--bg2-color);
    color: white;
}

.profile-reviews{
    width: 100%;
    padding: 5px 0px 5px 15px;
}

/* ------------ OTHER CSS ------------ */

.restInfo {
    margin: 10px 15px 10px 0px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font);
}

.title {
    font-size: 30px;
}

.text {
    width: 85%;
    margin: auto;
}

.slideshowImg {
    display: block;
    height: 50vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
    background: #000000;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    color: var(--title-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    cursor: pointer;
}

/* Position the "next button" to the right */
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: var(--bg2-color);
}

.results {
    position: relative;
    height: auto;
    min-height: 90px;
    margin: 20px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: var(--text-color) !important;
    font-size: 20px;
    overflow: hidden;
}

.results:hover {
    background-color: rgba(24, 255, 0, 0.15);
}

.resultsWrapper {
    height: 100%;
    padding: 0px auto;
}

.resultsListWrapper {
    width: 60%;
    margin-left: 25%;
}

.resultsSearch {
    position: fixed;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 20%;
    margin-bottom: -45px;
    padding: 20px 15px 0px 15px;
    background-color: rgba(214, 36, 37, 0.76);
    color: black !important;
    font-size: 16px;
    overflow-x: hidden;
}

.resultsSearchbar {
    width: 75%;
}

.resultsSubmit {
    width: 20%;
}

.restTitle {
    font-size: 24px;
    font-weight: bold;
}

.resultsStars {
    font-size: 24px;
}

.restDist {
    font-size: 16px;
    font-style: italic;
}

.thumbnail {
    height: 130px;
    width: 130px;
    min-height: 90px;
    min-width: 90px;
    margin: 0px;
}

.resThumbnail {
    position: absolute;
    float: left;
    height: 150px;
    width: 150px;
}

.resInfo {
    position: relative;
    display: inline-block;
    z-index: 10;
    height: auto;
    min-height: 130px;
    width: 100%;
    margin-left: 160px;
}

.reviews {
    position: relative;
    height: 10vh;
    min-height: 90px;
    margin: 15px 0px 5px 0px;
    color: var(--text-color) !important;
    font-size: 14px;
    overflow: hidden;
}

.reviewThumbnail {
    height: 9vh;
    min-height: 50px;
    width: 9vh;
    min-width: 50px;
    margin: 0 auto;
}

.searchArea {
    font-size: 12px;
}

#errorTitle {
    font-size: 24px;
}

.noMargin {
    margin: 0 auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    height: 15px;
    width: 100%;
    border-radius: 5px;
    background: #d3d3d3;
    -webkit-transition: .2s;
    -webkit-appearance: none;
    opacity: 1;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 40%;
    -webkit-appearance: none;
    background: var(--slider-color);
    appearance: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 40%;
    background: var(--slider-color);
    cursor: pointer;
}

.row:after {
    display: table;
    content: "";
    clear: both;
}

.h1 {
    display: inline-block;
}

.resLink a, .userLink a, .blackLink a {
    color: black;
!important;
    font-weight: bold;
}

.pReview {
    margin: 5px 0px 5px 0px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background: rgba(214, 31, 38, 0.15);
}

/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: red;
}

/*!* Create the checkmark/indicator (hidden when not checked) *!*/
/*.checkmark:after {*/
/*content: "";*/
/*position: absolute;*/
/*display: none;*/
/*}*/

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    width: 70%; /* Could be more or less, depending on screen size */
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    background-color: #fefefe;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    top: 0;
    right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.slidecontainerreview {
    width: 50%;
}

.modalheader {
    padding: 2px 16px;
    background-color: red;
    color: white;
    font-size: 22px;
}

.wrSubmit, .cancelbtn {
    float: left;
    width: 20%;
}