:root{
  --bg-color: #FFF7F7;
  --bg2-color: #D61F26;
  --Y-color: #774C60;
  --text-color: #000000;
  --title-color: #FFFFFF;
  --alert-color: #FF0008;
  --shadow-color: #000000;
    --slider-color: #ED168A;
  --font: "Trebuchet MS";
}

html, body {
    height: 100%;
    margin: 0;
}

.mainWrapper {
    min-height: 100%;
    margin-bottom: -45px;
}

.push {
    height: 45px;
}

.mWrapper {
    margin-left: 5%;
    font-size: 12pt;
    margin-right: 5%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  background: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg-color);
}


a{
  color: var(--title-color);
}

a:hover {
    color: var(--title-color); !important;
    text-decoration: none; !important;
    opacity: 0.7;
}

#top {
  height: 100%;
  width: 100%;
  background-color: var(--bg2-color);
  background-image: url("../images/titleImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
  -moz-box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
  box-shadow: 0px 5px 20px 0px rgb(66, 66, 66);
}

.titleHeader {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 80%;
  z-index: 200;
}

.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--bg2-color);
  text-align: left;
  margin: 0;
    z-index: 1;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2-color);
  color: white;
  text-align: left;
  font-size: 16px;
    vertical-align: middle;
    height: 45px;
    position: relative;
    z-index: 1;
}

.algnRight{
    text-align: right;
}

.algnLeft{
    text-align: left;
}

.mainTitle {
  color: var(--title-color);
  font-size: 62px;
  font-family: var(--font);
  text-align: center;
  margin-top: 10vw;
  text-shadow: 2px 2px var(--shadow-color);
}

.mainSubtitle{
  color: var(--title-color);
  font-size: 24px;
  text-align: center;
  font-family: var(--font);
  margin-top: 2vw;
  margin-bottom: 10vw;
  text-shadow: 2px 2px var(--shadow-color);
}

.searchTitle{
  color: var(--title-color);
  font-size: 18px;
  text-align: center;
  font-family: var(--font);
  margin: 0 auto;
}

.titleSearch{
  //float: left;
  margin: 3px 0px 3px 10px;
  width: 45vw;
  height: 5vw;
  max-height: 40px;
  max-width: 650px;
  font-size: 20px;
  border: none;
  border-color: transparent;
}

.titleSubmit{
  float: right;
  background-color: var(--bg2-color);
  height: 5vw;
  width: 10vw;
  margin: 3px 10px 3px 0px;
  max-height: 40px;
  max-width: 80px;
  color: var(--title-color);
  font-size: 16px;
  font-family: var(--font);
  padding: 0;
  border: none;
}

#msg {
  float: left;
  margin: 10px 0px 10px 0px;
  color: var(--title-color);
  font-family: var(--font);
  font-size: 16px;
}

#top-links {
  color: var(--title-color);
  font-family: var(--font);
  font-size: 16px;
  float: right;
  margin: 15px 30px 15px 0px;
}

.inlineList li {
  display:inline;
}

.inlineList li + li:before {
  content: " | ";
}

.search{
  background: #ffffff;
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
  margin-bottom: 15px;
}

.softHighlight{
  background: rgba(20,20,20,0.65);
}

.alert{
  background: var(--alert-color);
  color: var(--title-color);
  text-align: center;
  width: 100%;
  margin-top: 0px;
  border-radius: 0px;
  font-size: 14px;
}

.restInfo{
  margin: 10px 15px 10px 0px;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font);
}

.title{
  font-size: 30px;
}

.text
{
  margin:auto;
  width: 85%;
}

.indexFeat{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
 }

.featIcon{
    font-size: 50px;
}

.slideshowImg{
  height: 50vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
  background: #000000;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
#prev, #next {
  color: var(--title-color);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
  color: var(--bg2-color);
}

.results {
    margin: 20px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    position: relative;
    height:  auto;
    min-height: 90px;
    font-size: 20px;
    color: var(--text-color) !important;
    border-radius: 10px;
}

.results:hover{
    background-color: rgba(24, 255, 0, 0.15);
}

.resultsWrapper{
    height:100%;
    padding: 0px auto;
}

.resultsListWrapper{
    margin-left: 25%;
    width: 60%;
}

.resultsSearch {
    padding: 20px 15px 0px 15px;
    font-size: 16px;
    color: black !important;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgba(214, 36, 37, 0.76);
    margin-bottom: -45px;
}

.resultsSearchbar{
    width: 75%;
}

.resultsSubmit{
    width: 20%;
}

.restTitle{
    font-size: 24px;
    font-weight: bold;
}

.resultsStars{
    font-size: 24px;
}

.restDist{
    font-size: 16px;
    font-style: italic;
}

.thumbnail{
    margin: 0px;
    height: 130px;
    width: 130px;
    min-height: 90px;
    min-width: 90px;
}

.resThumbnail{
    position: absolute;
    width: 150px;
    height: 150px;
    float: left;
}

.resInfo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 130px;
    margin-left: 160px;
    display: inline-block;
    z-index: 10;
}

.reviews {
    margin: 15px 0px 5px 0px;
    overflow: hidden;
    position: relative;
    height: 10vh;
    min-height: 90px;
    font-size: 14px;
    color: var(--text-color) !important;
}

.reviewThumbnail{
    margin: 0 auto;
    height: 9vh;
    width: 9vh;
    min-height: 50px;
    min-width: 50px;
}

.searchArea{
    font-size: 12px;
}

#errorTitle{
  font-size: 24px;
}

.noMargin{
    margin: 0 auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 40%;
    background: var(--slider-color);
    cursor: pointer;
    border: 2px solid black;;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 40%;
    background: var(--slider-color);
    cursor: pointer;
    border: 2px solid black;
}

.social a{
    margin: 5px 5px 5px 5px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    width: 33px;
}

/* Add a hover effect if you want */
.fa:hover {
    color: black;
    opacity: 1; !important;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #24f2ff;
    color: white;
}


.rForm, .lForm, .crForm {
    display: inline-block;
    margin: 4% 25% 0% 25% ;
    width: 50%;
}

.profile{
    display: inline-block;
    margin: 4% 25% 0% 25% ;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.h1 {
    display: inline-block;
}

.formError{
    color: var(--bg2-color);
    text-align: center;
}

.error{
    width: 100%;
    color: black;
    text-align: center;
    background: rgba(150, 0, 37, 0.35);
    font-size: 14px;
}

.login input, .register input, .createRestaurant input, .review input{
    width: 100%;
    margin: 5px;
}

.login label, .register label, .createRestaurant label, .review label{
    margin-top: 6px;
}

.lBorder, .crBorder, .pBorder{
    background: var(--bg2-color);
    border-radius: 25px;
    padding: 5px 15px 15px 15px;
}

.lTitle, .crTitle, .pTitle{
    color: white;
    font-size: 22px;
    padding: 15px 5px 15px 5px;
}

.lInputWrapper , .crInputWrapper, .reviewcontainer{
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    background: white;
    font-size: 14px;
    border-radius: 5px;
 }

.pInfo{
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    background: white;
    font-size: 16px;
    border-radius: 5px;
}

.login{
    margin: 0 auto;
    width: 80%;
}

.lSubmit, .rSubmit, .crSubmit{
    margin: 10px 45% 10px 45%;
    width: 10%;
    min-width: 70px;
    text-align: center;
}

.resLink a, .userLink a, .blackLink a{
    color: black; !important;
    font-weight: bold;
}

.pReview{
    background: rgba(214, 31, 38, 0.15);
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 10px 0px 10px 10px;
}



/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: red;
}

/*!* Create the checkmark/indicator (hidden when not checked) *!*/
/*.checkmark:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*display: none;*/
/*}*/

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


.slidecontainerreview{
    width: 50%;
}


.modalheader {
    padding: 2px 16px;
    font-size: 22px;
    background-color: red;
    color: white;
}

.wrSubmit, .cancelbtn {
    float: left;
    width: 20%;
}