<!DOCTYPE html>
<html>
<head>
    <title>Accessibilty Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-wrapper">
<% include header.ejs %>
    <div class="mWrapper">
        <div class="h1">Accessibility</div>
        <div class="p">Dine Hard are committed to making these web pages accessible to as many people as possible, by providing
            specific elements that allow for user ease. </div>
        <p>This website is built using Hyper-Text Markup Language (HTML5) and Cascading Style Sheets (CSS).</p>
    </div>
<div class="push"></div>
</div>
</body>
<% include footer.ejs %>
</html>