<!DOCTYPE html>
<html>
<head>
    <meta http-equiv = 'Content-Type'>
    <meta charset="utf-8">
    <title><% subject %></title>
</head>

<body>
    <p>Dear <% username %>,</p>
    <p>Here is your link to change your password: <% unique_url %></p>
    <p>You can use this link more than once.</p>
    <p>Kind Regards</p>
</body>
</html>
