<!DocType html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-wrapper">
    <% include header.ejs %>

    <div class="container">
        <% if (error.status == "404") {%>
            <div id="errorTitle">Whoospies! This page doesn't seem to exist.</div>
        <% } else { %>
            <div id="errorTitle">An error has occurred.</div>
        <%}%>
        <h2>Error <%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>
    <div class="push"></div>
</div>
    <% include footer.ejs %>
</body>

